@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">MVC BURGER'a </h1>
    <h2 class="display-4 text-light">HOŞGELDİNİZ!</h2>
    <p class="text-light">Birbirinden lezzetli seçeneklerimiz ile sizin için buradayız.</p>
</div>
