@model MvcBurger.Entities.Siparis

@{
    ViewData["Title"] = "Delete";
}


<div class="row justify-content-center align-items-center text-light">
    <div class="col-md-4">
        <h3>Siparişi silmek istediğinize emin misiniz?</h3>

        <hr />
        <table class=" table row">
            <tr>
                <td class="col-sm-5">
                    Büyüklük:
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Buyukluk)
                </td>
            </tr>
            <tr>
                <td class="col-sm-5">
                    Sipariş Sayısı:
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.SiparisSayisi)
                </td>
            </tr>
            <tr>
                <td class="col-sm-5">
                    Toplam Fiyat:
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.ToplamFiyat)
                </td>
            </tr>

        </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            <a class="btn btn-warning" asp-action="Index">Tüm Siparişler</a>
        </form>
    </div>
</div>
